RABBITMQ_DEFAULT_USER=user123
RABBITMQ_DEFAULT_PASS=password123
POSTGRES_USER=user123
POSTGRES_PASSWORD=password123
CORE_DB_CONTEXT=Host=postgres;Port=5432;Database=CoreDb;Username=user123;Password=password123
POSTGRES_DB=CoreDb
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5101
MINIO_ROOT_USER=user123
MINIO_ROOT_PASSWORD=password123
# GOOGLE_API_KEY=<YOUR_GOOGLE_API_KEY>