ARGOCD_USER=user123
ARGOCD_PASSWORD=password123

# postgres-secret
POSTGRES_USER=user123
POSTGRES_PASSWORD=password123
POSTGRES_DB=CoreDb

# rabbitmq-secret
RABBITMQ_DEFAULT_USER=user123
RABBITMQ_DEFAULT_PASS=password123

# minio-secret
MINIO_ROOT_USER=user123
MINIO_ROOT_PASSWORD=password123

# migrations-secret / api-secret / messaging-secret
CORE_DB_CONTEXT=Host=postgres;Port=5432;Database=CoreDb;Username=user123;Password=password123
RABBIT_MQ_URI=amqp://user123:password123@rabbitmq:5672

# api-secret only
ANTHROPIC_API_KEY=<YOUR_ANTHROPIC_API_KEY>

# messaging-secret only
CONTENT_SAFETY_ENDPOINT=<YOUR_CONTENT_SAFETY_ENDPOINT>
CONTENT_SAFETY_KEY=<YOUR_CONTENT_SAFETY_KEY>

# grafana-secret
GRAFANA_ADMIN_USER=user123
GRAFANA_ADMIN_PASSWORD=password123
